@font-face {
    font-family: "biome w04 regular";
    src: url("https://db.onlinewebfonts.com/t/1c6b6cddab6609324d9016562358e0cd.eot");
    src: url("https://db.onlinewebfonts.com/t/1c6b6cddab6609324d9016562358e0cd.eot?#iefix")format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/1c6b6cddab6609324d9016562358e0cd.woff2")format("woff2"),
    url("https://db.onlinewebfonts.com/t/1c6b6cddab6609324d9016562358e0cd.woff")format("woff"),
    url("https://db.onlinewebfonts.com/t/1c6b6cddab6609324d9016562358e0cd.ttf")format("truetype"),
    url("https://db.onlinewebfonts.com/t/1c6b6cddab6609324d9016562358e0cd.svg#Biome W04 Regular")format("svg");
}
@media only screen and (max-width: 767px) {
    p{
        font-size: 20px;
    }
}
div {
    font-family: "biome w04 regular";
}
footer {
    font-family: "biome w04 regular";
    text-align: center;
}
.myShadowOne {
    color: black;
    text-shadow: -3px 2px 3px white;
    font-size: 60px;
    font-family: "biome w04 regular";
}
.myShadowTwo {
    color: black;
    text-shadow: -3px 2px 3px white;
    font-size: 20px;
    font-family: "biome w04 regular";
}
.myShadowThree {
    color: gray;
    text-shadow: -3px 2px 3px white;
    font-size: 60px;
    font-family: "biome w04 regular";
}
.myShadowFour {
    color: gray;
    text-shadow: -1px 1px 1px white;
    font-size: 20px;
    font-family: "biome w04 regular";
}
.myButton {
    font-family: verdana;
    background-color: orange;
    color: solid black;
}
.centered {
    text-align: center;
    font-family: verdana;
}

.large {
    color: black;
    text-align: center;
    font-size: 30px;
    text-shadow: -3px 2px 3px gray;
}
.medium {
    color: black;
    font-size: medium;
    font-family: verdana;
}
.small {
    color: black;
    font-size: 10px;
    font-family: "biome w04 regular";
    text-shadow: -3px 2px 3px gray;
}
h6 {
    color: black;
    text-shadow: -3px 2px 3px gray;
}
.nav-link {
    color: black;
    text-shadow: -3px 2px 3px gray;
}
.dropdown-menu {
    color: black;
    text-shadow: -3px 2px 3px gray;
    text-align: center;
}
